<html>
  <head>
    <meta charset="utf-8">
    <style>[ng-cloak]{display: none}</style>
  </head>
  <body>
    <div ng-app="app" ng-cloak>
      <div ng-controller="Main">
        <nav class="navbar navbar-default navbar-top navbar-static-top" id="navbar">
          <div class="container">
            <div class="navbar-header pull-left">
              <a class="navbar-brand" ng-href="{{isLoggedIn?'#/':'.'}}">SafeMarket</a>
            </div>
            <div class="navbar-header pull-right">
              <button class="navbar-btn btn btn-default btn-lg" ng-click="goBack()">
                <span class="glyphicon glyphicon-menu-left"></span>
              </button>
              <button class="navbar-btn btn btn-default btn-lg" ng-click="openChainModal()">
                <span class="glyphicon glyphicon-link"></span>
              </button>
              <button class="navbar-btn btn btn-default btn-lg" ng-click="openRegisterModal()">
                <span class="glyphicon glyphicon-user"></span>
              </button>
              <button class="navbar-btn btn btn-default btn-lg" id="refreshButton">
                <span class="glyphicon glyphicon-refresh" id="refreshIcon"></span>
              </button>
              <a class="navbar-btn btn btn-default btn-lg" href="#affiliate">
                <span class="glyphicon glyphicon-tags" id="refreshIcon"></span>
              </a>
              <button id="navbar-settings-button" class="navbar-btn btn btn-default btn-lg" ng-click="openSettingsModal()">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </div>
          </div>
        </nav>
        <div ng-controller="Status" class="blockWatcher">
          <div class="container" status></div>
        </div>
        <div class="container">
          <div class="alert alert-warning text-center">SafeMarket is still in Alpha. Funds deposited are likely to be lost.</div>
          </div>
          <div class="container">
              <div growl></div>
              <div ui-view autoscroll="true" class="mainView"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="generated/bundle.js" charset="utf-8"></script>
  </body>
</html>
