/*Nav V2 with Searchbar*/
.nav-searchbar {
  display: flex;
  align-items: center;
  padding-left: 5px;
  border: 1px solid #979797;
  width: 223px;
  height: 34px;
  margin-left: 121px;

}
.nav-left-top {
  display: flex;
}
.nav-search-bar {
  height: 18px;
  margin-right: 8px;
}
.nav-search-input {
  color: #979797;
  font-size: 11px;
}
/*Nav V2 ended*/

/*Nav*/
.nav-title {
  font-size: 18px;
}
.network-status {
  display: flex;
  align-items: center;
}
.connected {
  width: 13px;
  height: 13px;
  margin-left: 7px;
  margin-right: 7px;
}
.change-network {
  font-size: 10px;
  font-weight: 200;
  color: #4990E2;
}
.status {
  text-decoration: underline;
  font-size: 10px;
  font-weight: 300;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  font-size: 12px;
  letter-spacing: 0.6px;
}

.nav-line {
  height: 23px;
  margin-left: 10px;
}
.cart-img {
  height: 15px;
  margin-left: 10px;
  margin-right: 5px;
}
.cart-group {
  display: flex;
  align-items: flex-start;
}
.nav-item {
  margin-left: 30px;
}

/*Nav end*/