<div ng-repeat="image in images">
  <img class="image" amorph-image="image">
  <div class="pull-right">
    <button class="btn btn-xs btn-danger" ng-click="delete($index)">Delete</button>
    <button class="btn btn-xs btn-info" ng-if="$index > 0" ng-click="moveUp($index)">
      &nbsp;<span class="glyphicon glyphicon-chevron-up"></span>&nbsp;
    </button>
    <button class="btn btn-xs btn-info" ng-if="$index < (images.length - 1)" ng-click="moveDown($index)">
      &nbsp;<span class="glyphicon glyphicon-chevron-down"></span>&nbsp;
    </button>
  </div>
</div>
<input file-input type="file" ng-model="file">
