<div id="logout-modal-header" class="modal-header">
    <h3 class="modal-title">Log Out</h3>
</div>
<div class="modal-body">
    You are about to log out of SafeMarket. You will not be able to log back in without your authfile. Continue?
</div>
<div class="modal-footer">
    <button id="logout-modal-cancel-button" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button id="logout-modal-submit-button" class="btn btn-primary" type="button" ng-click="submit()">OK</button>
</div>
