<div class="container" ng-controller="Order">
	<h1>
		Order #{{order.id.to('number')}}
	</h1>
	<table class="table">
		<tr>
			<td>Created</td>
			<td timestamp="order.createdAt" colspan="2"></td>
		</tr>
		<tr>
			<td>Buyer</td>
			<td colspan="2" address="order.buyer"></td>
		</tr>
		<tr>
			<td>Store</td>
			<td colspan="2" address="order.store"></td>
		</tr>
		<tr ng-if="order.isArbitrator">
			<td>Arbitrator</td>
			<td colspan="2" address="order.arbitrator"></td>
		</tr>
		<tr ng-if="order.isAffiliate">
			<td>Affiliate</td>
			<td colspan="2" address="order.affiliate"></td>
		</tr>
		<tr>
			<td>Transport</td>
			<td>{{order.transport.name}}</td>
			<td pricemorph="order.transport.price"></td>
		</tr>
	</table>
	<h3>Products</h3>
	<table class="table">
		<tr ng-repeat="product in order.products">
			<td><code>PRODUCT ID #{{product.id.to('number')}}</code></td>
			<td>{{product.name}}</td>
			<td pricemorph="product.price"></td>
			<td>x{{product.quantity.to('number')}}</td>
		</tr>
	</table>
</div>
