<div class="alert alert-info text-center" ng-show="orders.length===0">No orders yet</div>
<table class="table" ng-show="orders.length>0">
	<tr>
		<th></th>
		<th>Created</th>
		<th>Store</th>
		<th>Arbitrator</th>
		<th>Status</th>
		<th></th>
	</tr>
	<tr ng-repeat="order in orders">
		<td><code>ORDER ID #{{order.id.to('number')}}</code></a></td>
		<td timestamp ="order.createdAt"></td>
		<td address="order.store"></td>
		<td>
			<div ng-if="order.arbitrator.to('number') > 0" address="order.arbitrator"></div>
		</td>
		<td>
			{{order.status.to('number')}}
		</td>
		<td class="pull-right">
			<a class="btn btn-xs btn-info" ng-href="/#!/orders/{{orderReg.address.to('hex.prefixed')}}/{{order.id.to('number')}}">
				View
			</a>
		</td>
	</tr>
</table>
