<div class="container" ng-controller="Order">
	<h1>
		{{order.label}}
	</h1>
	<table class="table">
		<tr>
			<td>Actions</td>
			<td colspan="2">
					<div ng-if="order.userIsBuyer">
						<div class="btn btn-xs btn-default" ng-click="setStatusToCancelled()">Cancel</div>
						<div class="btn btn-xs btn-default" ng-click="setStatusToDisputed()">Dispute</div>
					</div>
					<div ng-if="order.userIsStoreOwner">
						<div class="btn btn-xs btn-default" ng-click="setStatusToCancelled()">Cancel</div>
						<div class="btn btn-xs btn-default" ng-click="setStatusToShipped()">Mark as Shipped</div>
					</div>
					<div class="btn btn-xs btn-default" ng-click="openDisputeResolutionModal()">Resolve Dispute</div>
			</td>
		</tr>
		<tr>
			<td>Status</td>
			<td colspan="2">{{order.status | status}}</td>
		</tr>
		<tr>
			<td>Dispute Time</td>
			<td colspan="2">{{disputeSecondsOption.label}}</td>
		</tr>
		<tr>
			<td>Created</td>
			<td timestamp="order.createdAt" colspan="2"></td>
		</tr>
		<tr>
			<td>Buyer</td>
			<td colspan="2" address="order.buyer"></td>
		</tr>
		<tr>
			<td>Store</td>
			<td colspan="2" address="order.store.address"></td>
		</tr>
		<tr ng-if="order.isArbitrator">
			<td>Arbitrator</td>
			<td colspan="2" address="order.arbitrator.address"></td>
		</tr>
		<tr ng-if="order.isAffiliate">
			<td>Affiliate</td>
			<td colspan="2" address="order.affiliate"></td>
		</tr>
		<tr>
			<td>Transport</td>
			<td>{{order.transport.name}}</td>
			<td pricemorph="order.transport.price"></td>
		</tr>
		<tr>
			<td>Total (Pre-Buffer)</td>
			<td colspan="2" pricemorph="order.prebuffer"></td>
		</tr>
		<tr>
			<td>Received</td>
			<td colspan="2" pricemorph="order.received"></td>
		</tr>
		<tr>
			<td>Buffer Remaining ({{order.bufferRemainingPerun | perun:0}})</td>
			<td colspan="2" pricemorph="order.bufferRemaining"></td>
		</tr>
		<tr>
			<td>Store Payout ({{order.storePayoutMicroperun | perun:-6}})</td>
			<td pricemorph="order.storePayout"></td>
			<td>
				<div class="btn btn-xs btn-default" ng-click="payoutStore()">Payout</div>
			</td>
		</tr>
		<tr>
			<td>Buyer Payout ({{order.buyerPayoutMicroperun | perun:-6}})</td>
			<td pricemorph="order.buyerPayout"></td>
			<td>
				<div class="btn btn-xs btn-default" ng-click="payoutBuyer()">Payout</div>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	<h3>Products</h3>
	<table class="table">
		<tr ng-repeat="product in order.products">
			<td><code>PRODUCT ID #{{product.id.to('number')}}</code></td>
			<td>{{product.name}}</td>
			<td pricemorph="product.price"></td>
			<td>x{{product.quantity.to('number')}}</td>
		</tr>
	</table>
</div>
