<div class="modal-header">
    <h3 class="modal-title">Register</h3>
</div>
<div class="modal-body" id="settings-modal-body">
    <p>
      Instead of using a database of username/passwords,
      SafeMarket uses a passphrase-encrypted keyfile to manage your account.
      To get started, you'll need to select a passphrase.
    </p>
    <p>Tips on chosing a strong passphrase</p>
    <ul style="padding-left: 15px;">
      <li>Make it long.</li>
      <li>Use words that aren't in the dictionary, like proper nouns and slang.</li>
      <li>Use punctuations and numbers.</li>
      <li><b>Remember it!</b></li>
    </ul>
    <table class="table">
      <tr>
        <td>Passphrase:</td>
        <td><input type="{{showPassphrase?'text':'password'}}" ng-model="passphrase" class="form-control"></td>
      </tr>
      <tr>
        <td>Repeat Passphrase:</td>
        <td><input type="{{showPassphrase?'text':'password'}}" ng-model="passphrase1" class="form-control"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <label><input type="checkbox" ng-model="showPassphrase"> Show Passphrase</label>
        </td>
      </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Generate Keyfile</button>
</div>
