<div ng-controller="StoreProducts">
	<table class="table">
		<tr ng-repeat="product in store.products">
			<td>
				<div ng-repeat="img in product.imgs track by $index">
					<img ipfs-img="img" class="product-image">
				</div>
			</td>
			<td>
				{{product.name}}
				<div class="text-muted text-small">{{product.units.to('number.string')}} Units Available</div>
			</td>
			<td>
				{{product.info}}
			</td>
			<td pricemorph="product.price"></td>
			<td>
				<input class="form-control" type="number" ng-model="productUnits[$index]" min="0" max="{{product.units.to('number')}}" amorph-input="number" ng-change="onQuantitiesChanged()">
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td pricemorph="productsTotal"></td>
		</tr>
		<tr>
			<td>Transport</td>
			<td colspan="3">
				<select ng-model="transport" ng-options="transport.getLabel() for transport in store.transports" class="form-control"></select>
			</td>
			<td pricemorph="transport.price"></td>
		</tr>
		<tr>
			<td colspan="4">Exchange Rate Buffer ({{store.bufferCentiperun.to('number.string')}}%)</td>
			<td pricemorph="buffer"></td>
		</tr>
		<tr>
			<td colspan="4">Total</td>
			<td pricemorph="total"></td>
		</tr>
	</table>
  <div class="text-right">
	<button ng-click="createOrder()" class="btn btn-primary btn-lg" id="create-order-button">Create Your Order</button>
	</div>
</div>
