<div ng-controller="StoreProducts">
	<div class="Products-section">
		<div class="product-overview" ng-repeat="product in store.products">
			<a ng-href="{{product.url}}">
				<div class="product-overview-img" amorph-image="product.imageMultihashes[0]" ng-click="goToProduct($index)"></div>
			</a>
			<div class="product-description">
				<a class="product-name" ng-href="{{product.url}}">
					{{product.name.to('ascii')}}
				</a>
				<p class="product-price" pricemorph="product.pricemorph"></p>
				<div class="add-to-cart-btn">
					<a ng-click="addToCart($index)">ADD TO CART</a>
				</div>
			</div>
		</div>
	</div>
</div>
