<div class="modal-header">
  <h3 class="modal-title" ng-cloak>{{store.address ? 'Edit':'Create a' }} Store</h3>
</div>
<div class="modal-body" id="store-modal-modal-body">
  <table class="table">
    <tr>
      <td>
        Open
      </td>
      <td>
        <input type="checkbox" ng-model="store.isOpen" amorph-input="boolean">
      </td>
    </tr>
    <tr>
      <td>Store Name</td>
      <td>
        <input id="store-modal-name-input" type="text" ng-model="store.name" class="form-control">
      </td>
    </tr>
    <tr>
      <td>Currency</td>
      <td>
        <select type="text" ng-model="store.currency" class="form-control" ng-options="currency as currency.to('ascii') for currency in currencies"></select>
      </td>
    </tr>
    <tr>
      <td>Location (Ships From) <span flag="base"></span></td>
      <td country-select="store.base"></td>
    </tr>
    <tr>
      <td>Exchange Rate Buffer: <span ng-cloak>{{store.bufferCentiperun.to('number')}}</span>%</td>
      <td>
        <input type="range" ng-model="store.bufferCentiperun" class="form-control" min="0" max="100" step="1" amorph-input="number">
      </td>
    </tr>
    <tr>
      <td>Dispute Resolution Time
        <div class="text-small text-muted">How long after shipping can buyers open a dispute?</div>
      </td>
      <td>
        <select type="text" ng-model="store.disputeSecondsOption" class="form-control" ng-options="option.label for option in disputeSecondsOptions"></select>
      </td>
    </tr>
    <tr>
      <td>Minimum Products Total</td>
      <td pricemorph-input-group="store.minProductsTotal" currency="store.currency"></td>
    </tr>
    <tr>
      <td>Affiliate Fee: <span ng-cloak>{{store.affiliateFeeCentiperun.to('number')}}</span>%</td>
      <td>
        <input type="range" ng-model="store.affiliateFeeCentiperun" class="form-control" min="0" max="10" step=".1" amorph-input="number">
      </td>
    </tr>
    <tr>
      <td>Info</td>
      <td>
        <textarea class="form-control" ng-model="info" id="store-modal-info"></textarea>
      </td>
    </tr>
  </table>
  <h3>Products</h3>
  <table class="table tbody-alternate">
    <tbody ng-repeat="product in store.products">
      <tr>
        <th><code>PRODUCT ID #{{$index}}</code></th>
        <th><button class="btn btn-danger btn-xs pull-right" ng-click="product.remove()" ng-if="product.isRemovable">Remove</button></th>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" ng-model="product.name" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Price</td>
        <td pricemorph-input-group="product.price" currency="store.currency"></td>
      </tr>
      <tr>
        <td>Units Available</td>
        <td>
          <input amorph-input="number" type="number" ng-model="product.units" class="form-control" min="0" ng-required>
        </td>
      </tr>
      <tr>
        <td>Info</td>
        <td>
          <textarea type="text" ng-model="product.info" class="form-control"></textarea>
        </td>
      </tr>
      <tr>
        <td>Images</td>
        <td>
          <table class="table">
            <tr>
              <td colspan="2" ipfs-images-select="product.images"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr ng-show="product.index!==undefined">
        <td>Active</td>
        <td>
          <input type="checkbox" ng-model="product.isArchived" amorph-input="boolean">
        </td>
      </tr>
    </tbody>
    <tr>
      <td colspan="2" class="text-right">
        <button class="btn btn-primary btn-xs" ng-click="store.addProduct()" id="add-product-button">+</button>
      </td>
    </tr>
  </table>
  <h3>Transportation Options</h3>
  <table class="table tbody-alternate">
    <tbody ng-repeat="transport in store.transports">
      <tr>
        <th><code>TRANSPORT ID #{{$index}}</code></th>
        <th><button class="btn btn-danger btn-xs pull-right" ng-click="transport.remove()" ng-if="transport.isRemovable">Remove</button></th>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          <input type="name" ng-model="transport.name" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Price</td>
        <td pricemorph-input-group="transport.price" currency="store.currency"></td>
      </tr>
      <tr>
        <td>Ships</td>
        <td>
          <div place-select="transport.to"></div>
        </td>
      </tr>
      <tr ng-show="transport.index!==undefined">
        <td>Active</td>
        <td>
          <input type="checkbox" ng-model="transport.isArchived" amorph-input="boolean">
        </td>
      </tr>
    </tbody>
    <tr>
      <td colspan="2" class="text-right">
        <button class="btn btn-primary btn-xs" ng-click="store.addTransport()" id="add-transport-button">+</button>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
    <button id="store-modal-submit-button" class="btn btn-primary" type="button" ng-click="submit()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
