<table class="table">
	<tr>
		<td>Address</td>
		<td address="store.address"></td>
	</tr>
	<tr>
		<td>Coinbase</td>
		<td address="store.coinbase"></td>
	</tr>
	<tr>
		<td>Alias</td>
		<td>@{{store.alias.to('ascii')}}</td>
	</tr>
	<tr>
		<td>Approved Arbitrators</td>
		<td>
			<div ng-repeat="approvedArbitrator in store.approvedArbitrators" address="approvedArbitrator"></div>
		</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>{{store.isOpen.to('boolean') ? 'Open' : 'Closed'}}</td>
	</tr>
	<tr>
		<td>Location</td>
		<td>{{store.base.name}}</td>
	</tr>
	<tr>
		<td>Shipping</td>
		<td>
			<div ng-repeat="transport in store.transports">
				{{transport.getLabel()}}
			</div>
		</td>
	</tr>
	<tr>
		<td>Dispute Resolution Time</td>
		<td>{{store.disputeSecondsOption.label}}</td>
	</tr>
	<tr>
		<td>Exchange Rate Buffer</td>
		<td>{{store.bufferMicroperun | perun:-6}}</td>
	</tr>
	<tr>
		<td>Minimum Products Total</td>
		<td pricemorph="store.minProductsTotal"></td>
	</tr>
	<tr>
		<td>Affiliate Fee</td>
		<td>{{store.affiliateFeeMicroperun | perun:-6}}</td>
	</tr>
</table>
<div marked="store.info"></div>
