<div class="modal-header">
    <h3 class="modal-title" ng-cloak>{{title}}</h3>
</div>
<div class="modal-body" id="tx-monitor-modal-body">
  <div class="alert alert-danger" ng-if="isTotalCostGreaterThanBalance">
    Total Cost of this transaction exceeds available balance
  </div>
  <div class="alert alert-info" ng-if="!isReady">
    Simulating gas costs...
  </div>
  <table class="table" ng-show="isReady">
    <tr>
      <td>From</td><td address="from.address"></td>
    </tr>
    <tr>
      <td>Balance</td><td pricemorph="balancePricemorph"></td>
    </tr>
    <tr>
      <td>To</td><td address="to"></td>
    </tr>
    <tr>
      <td>Value</td><td pricemorph="valuePricemorph"></td>
    </tr>
    <tr ng-if="data">
      <td>Data</td><td><div class="monospace">{{data.to('hex.prefixed')}}</div></td>
    </tr>
    <tr>
      <td>Gas</td><td>{{gas.to('number')}}</td>
    </tr>
    <tr>
      <td>Gas Multiplier: x{{gasMultiplier}}</td><td>
        <input type="range" ng-model="gasMultiplier" class="form-control" min="1" max="5" step=".1">
      </td>
    </tr>
    <tr>
      <td>
        Gas Price
        <div class="text-small text-muted">per unit of Gas</div>
      </td>
      <td>{{gasPricemorph.to('WEI').to('number')}} WEI</td>
    </tr>
    <tr>
      <td>
        Gas Cost
        <div class="text-small text-muted">Gas * Gas Price<div>
      </td>
      <td pricemorph="gasCostPricemorph">
      </td>
    </tr>
    <tr>
      <td>Total Cost</td><td pricemorph="totalCostPricemorph"></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submit()" ng-if="isApprovable">Approve</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
