<div class="modal-header">
    <h3 class="modal-title" ng-cloak>{{title}}</h3>
</div>
<div class="modal-body" id="tx-monitor-modal-body">
  <div class="text-center" status></div>
  <hr>
  <div ng-if="!error">
    <div ng-if="!transactionHash">
      Please wait for for response from the node.
    </div>
    <div ng-if="transactionHash && !isMined">
      Transaction <code>{{transactionHash.to('hex.prefixed')}}</code> has been broadcast. Please wait for mining confirmation.
    </div>
    <div ng-if="isMined">
      Transaction <code>{{transactionHash.to('hex.prefixed')}}</code> has been mined!
    </div>
  </div>
  <div ng-if="error" class="alert alert-danger">
    {{error.message}}
  </div>
</div>
<div class="modal-footer" ng-if="isMined || error">
    <button class="btn btn-primary" type="button" ng-click="submit()">Ok</button>
</div>
