<table class="table" ng-controller="Transfer">
    <tr>
        <td>Recipient
          <div address="recipient"></div>
        </td>
        <td>
          <select ng-model="recipientType" ng-options="recipientType as recipientLabel for (recipientType,recipientLabel) in recipientTypes" class="form-control"></select>
          <select ng-show="recipientType==='internal'" ng-model="recipientInternal" ng-options="recipient as recipient.to('hex.prefixed') for recipient in recipientsInternal" class="form-control push-down"></select>
          <div ng-show="recipientType=='external'" class="push-down" address-input-group="recipientExternal">
          </div>
        </td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>
            <select ng-model="amountType" ng-options="amountType as amountLabel for (amountType,amountLabel) in amountTypes" class="form-control"></select>
            <pricemorph-form-group ng-show="amountType=='fixed'" pricemorph-model="amount" currency="currency"></pricemorph-form-group>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="btn btn-primary pull-right" ng-click="transfer()">Transfer</button>
        </td>
    </tr>
</table>
