<div class="modal-header">
    <h3 class="modal-title" ng-cloak>{{title}}</h3>
</div>
<div class="modal-body" id="tx-monitor-modal-body">
  <table class="table">
    <tr>
      <td>From</td><td address="from.address"></td>
    </tr>
    <tr>
      <td>To</td><td address="to"></td>
    </tr>
    <tr>
      <td>Value</td><td pricemorph="valuePricemorph"></td>
    </tr>
    <tr>
      <td>Gas</td><td>{{gas.to('number')}}</td>
    </tr>
    <tr>
      <td>
        Gas Price
        <div class="text-small text-muted">per unit of Gas</div>
      </td>
      <td>{{gasPricemorph.to('WEI').to('number')}} WEI</td>
    </tr>
    <tr>
      <td>
        Gas Cost
        <div class="text-small text-muted">Gas * Gas Price<div>
      </td>
      <td pricemorph="gasCostPricemorph">
      </td>
    </tr>
    <tr>
      <td>Total Cost</td><td pricemorph="totalCostPricemorph"></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submit()">Approve</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
